p{
    color: greenyellow;
    font-size: 18px;
    font-family: Georgia;
    text-align: center;
}

h1{color: blue;
background-color: black;
text-align: center;
font-size: 25px;
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;}